
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loli Novel</title>
    <link href="~/Content/fontawesome-free-6.0.0-web/fontawesome-free-6.0.0-web/css/all.css" rel="stylesheet" />
    <link href="~/Content/icon-font/themify-icons-font/themify-icons/themify-icons.css" rel="stylesheet" />
    <link href="~/Content/Css/style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <script src="~/Content/code/jquery-3.6.0.js"></script>
    <script src="~/Content/code/jquery-3.6.0.slim.js"></script>
</head>
<body>
    <header id="main-header" class="hide-on-mobile">
        @if (Session["TaiKhoan_maSS"] != null)
        {
            <div class="header-login">
                <a href="#">
                    Xin Chào @Session["TaiKhoan_tenDNSS"]
                    <br />
                </a>
                @Html.ActionLink("Đăng Xuất", "DangXuat", "TaiKhoan")
            </div>
        }
        else
        {
            <button class="header-login">
                <a onclick="openLogin();">Đăng Nhập</a>
            </button>
        }
        <div class="header-find-item">
            @using (Html.BeginForm("timSach", "Home", FormMethod.Get))
            {
                <input type="text" placeholder="Tìm Kiếm ... " name="ten" value="@ViewBag.Find" class="find-text">
                <button class="search-submit" type="submit" value="Tìm Kiếm">
                    <i class="ti-search"></i>
                </button>
            }
        </div>
        <ul id="nav-header">
            <li><a href="@Url.Action("Index")">Trang Chủ</a></li>
            <li><a href="@Url.Action("topRead","Home")">Top Đọc</a></li>
            <li>
                <a href="">Thể Loại</a>
                @{ Html.RenderAction("TypePartial", "TheLoai");}
            </li>
            @if (Session["TaiKhoan_maSS"] != null)
            {
                <li><a href="@Url.Action("listYeuThich", "Home", new { userID = @Session["TaiKhoan_maSS"] })">Yêu Thích</a></li>
            }
            else
            {
                <li><a href="#" onclick="openLogin()">Yêu Thích</a></li>
            }
        </ul>
    </header>

    <button id="myBtn">Up</button>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer id="main-footer">
        <div class="row">
            <div class="box-footer">
                <a href="" class="footer-title">Loli Light Novel</a>
                <div class="footer-icon">
                    <a target="_blank" rel="noopener noreferrer" href="https://discord.gg/qZdwpYvC"><i class="fa-brands fa-discord"></i></a>
                    <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/ZinYan192"><i class="fa-brands fa-facebook-square"></i></a>
                    <a target="_blank" rel="noopener noreferrer" href=""><i class="fa-brands fa-instagram-square"></i></a>
                </div>
                <p>© 2022 LoliLightNovel</p>
            </div>
            <div class="box-footer">
                <h4 class="footer-title">Teams</h4>
                <p>Lại Dương Công Bằng</p>
                <p>Nguyễn Đặng Hải Đăng</p>
                <p>Phan Nguyễn</p>
            </div>
        </div>
        <br>
        <hr style="height:2px;border-width:0;color:gray;background-color:gray">
        <div class="footer-copyright">
            create by Team 7
        </div>
    </footer>
    <div class="modal-Login-dialog">
        <div class="modal-Login">
            <button class="modal-close">
                <i class="fa-regular fa-x"></i>
            </button>
            <div class="modal-container">

                <header class="modal-header">
                    Đăng Nhập
                </header>

                <div class="modal-body">
                    <form name="Login">

                        <div class="input-container">
                            <input type="text" class="modal-account" placeholder="Tài Khoản/Email" id="UserName" required >
                        </div>
                        <div class="input-container">
                            <input type="password" class="modal-account" placeholder="Mật Khẩu..." id="Password" required >
                        </div>
                        <div class="container-login-btn">
                            <button class="btn-submit" id="Login" type="submit">
                                Đăng Nhập
                            </button>
                        </div>
                        <div class="modal-register" style="float:left;">
                            <p class="forgotPassword ">
                                <a href="@Url.Action("ResetPassword","TaiKhoan")" class="forgotPassword login-font">Quên Mật Khẩu ?</a>
                            </p>
                        </div>
                    </form>
                </div>
                <div class="modal-register">
                    <p class="Register "><a href="#" class="Register login-font" onclick="openCreate()">Đăng Ký Ngay    </a></p>
                </div>
                <br />
                <div class="modal-register">
                    <p class="request-Register">
                        Hoặc có thể đăng nhập bằng
                        <a href="/TaiKhoan/DangNhapFacebook" class="fb btn">
                            <i class="fa-brands fa-facebook-square"></i>  Facebook
                        </a>
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-Create-dialog">
        <div class="modal-Create">
            <button class="modal-close">
                <i class="fa-regular fa-x"></i>
            </button>
            <div class="modal-container">
                <header class="modal-header">
                    Đăng Ký
                </header>
                <div class="modal-body">
                    <form name="Register">

                        <div class="input-container">
                            <input type="text" class="modal-account" placeholder="Tài Khoản" id="reUser" required>
                        </div>
                        <div class="input-container">
                            <input type="text" class="modal-account" placeholder="Họ Tên" id="reUserName" required>
                        </div>
                        <div class="input-container">
                            <input type="text" class="modal-account" placeholder="Email" id="reEmail" required>
                        </div>
                        <div class="input-container">
                            <input type="text" class="modal-account" placeholder="Số điện thoại" id="rePhoneNumber" required>
                        </div>
                        <div class="input-container">
                            <input type="password" class="modal-account" placeholder="Mật Khẩu Xác Nhận" id="rePassword" required>
                        </div>
                        <div class="input-container">
                            <input type="password" class="modal-account" placeholder="Mật Khẩu Xác Nhận" id="reConfirmPass" required>
                        </div>
                        <div class="container-login-btn">
                            <button class="btn-submit">
                                Đăng Ký
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="toast">
    </div>
    <script src="~/Content/code/code.js"></script>
    <script>
        //---------------------------------------------------//
        $(document).ready(function () {
            $("form[name='Login']").on("submit", function (e) {
                e.preventDefault();
                if ($("#UserName").val() != "" && $("#Password").val() != "") {
                    var dataObj = {
                        TaiKhoan_tenDN: $("#UserName").val(),
                        TaiKhoan_email: $("#UserName").val(),
                        TaiKhoan_matKhau: hashCode($("#Password").val())
                    };
                    $.ajax({
                        url: '@Url.Action("DangNhap", "TaiKhoan")',
                        type: "POST",
                        data: dataObj,
                        dataType: "json",
                        success: function (result) {
                            showWarningToast();
                        },
                        error: function () {
                            showSuccessToast();
                            setTimeout(function () {
                                window.location = 'https://localhost:44318/';
                            }, 2000);
                        }
                    });
                }
            })
        })

                $(document).ready(function () {
            $("form[name='Register']").on("submit", function (e) {
                e.preventDefault();
                if ($("#reUser").val() != "" &&
                    $("#reEmail").val() != "" &&
                    $("#rePhoneNumber").val() != "" &&
                    $("#rePassword").val() != "" &&
                    $("#reConfirmPass").val() != "" &&
                    $("#reUserName").val() != "") {
                    if ($("#reConfirmPass").val() != $("#rePassword").val()) {
                        showWarningToastRegisterPassword();
                        return;
                    }
                    if (!validateEmail($("#reEmail").val())) {
                        showWarningToastRegisterEmail();
                        return;
                    }
                    if (!validPhoneNumber($("#rePhoneNumber").val())) {
                        showWarningToastPhoneNumber();
                        return;
                    }
                    var dataObj = {
                        TaiKhoan_tenDN: $("#reUser").val(),
                        TaiKhoan_hoTen: $("#reUserName").val(),
                        TaiKhoan_matKhau: hashCode($("#rePassword").val()),
                        TaiKhoan_sdt: $("#rePhoneNumber").val(),
                        TaiKhoan_email: $("#reEmail").val()
                    };
                    $.ajax({
                        url: '@Url.Action("DangKy", "TaiKhoan")',
                        type: "POST",
                        data: dataObj,
                        dataType: "json",
                        success: function (result) {
                            showSuccessToastRegister();
                            setTimeout(function () {
                                location.reload();
                            }, 2000);
                        },
                        error: function (e) {
                            showWarningToastRegister();
                        }
                    });
                }
            })
        })
    </script>
    <link rel="stylesheet"
          type="text/css"
          href="~/Content/Css/slick.css" />
    <script type="text/javascript"
            src="~/Content/code/jquery-1.11.0.min.js"></script>
    <script type="text/javascript"
            src="~/Content/code/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript"
            src="~/Content/code/slick.min.js"></script>
    @RenderSection("scripts", required: false)
    @RenderSection("upload", required: false)
</body>
</html>